doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    meta(name='keywords',content= keywords)
    meta(name='description',content= description)
  body
    block content
